#btn{
    height: 2rem;
    width: 8rem;
    background:yellowgreen;
    border-radius: 10px;

}
#text{
    height: 6rem;
    width: 30rem;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}